{% extends "main/base.html" %}
{% block title %}View List{% endblock %}

{% block content %}
    <h1>{{ name }}'s useInterface</h1>
    <form method="POST" action ="#">
        {% csrf_token %}    
        <ul>
            {% for ecgdata in ls  %}                
                {% if ecgdata.complete == True %}
                    <li><input type="checkbox" value="clicked" name="c{{ecgdata.id}}" checked="checked">{{ecgdata.text}}</li>
                {% else %}
                    <li><input type="checkbox" value="clicked" name="c{{ecgdata.id}}">{{ecgdata.text}}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <button type="submit" name="save" value="save">Save</button>
        <input type="text" name="new">
        <input type="submit" name="newItem" value="Add Item">
    </form>
{% endblock %}