{%extends 'main/base.html'%}

    {% block title %}ECGreq{% endblock %}
    {% block content %}
  <script>

    const socket = new WebSocket('ws://10.10.10.59:25566');
    // Connection opened
    socket.addEventListener('open', function (event) {
        socket.send('Server linked!');
    });

    // Listen for messages
    socket.addEventListener('message', function (event) {
        console.log('Message from server ', event.data);
        document.getElementById('ecg').textContent = event.data;
    });
    
</script>
<h1 id='ecg'></h1>


{%endblock%}